.content-mitra-kerja {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-mitra-kerja {
    margin: 20px;
    border-radius: 5px;
    /* border: none; */
}

.title-mitra-kerja h1{
    font-size: 2.5pc;
    font-weight: 700;
    color: #FF6000;
    margin-bottom: 30px;
}

.card-mitra-kerja img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-mitra-kerja .card-top {
    width: 100%;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

.card-mitra-kerja .card-bottom{
    padding: 10px;
}

.card-mitra-kerja h2{
    font-size: 15px;
    text-align: center;
}