body{
    background-color: rgb(255, 0, 0);
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content-auth {
    margin-top: 150px;
    margin-bottom: 100px;
}

.content-auth h1 {
    text-align: center;
}

.form-registration input{
    border-radius: 0px;
    margin-bottom: -1px;
}